<header class="sticky-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a href="" class="navbar-brand">MyCook38</a>
			<ul class="navbar-nav me-auto">
				<li class="navbar-item">
					<a href="" class="nav-link">Produits</a>
				</li>
				<li class="navbar-item">
					<a href="" class="nav-link">Nous contacter</a>
				</li>
				<li class="navbar-item">
					<a href="" class="nav-link">Devis</a>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse">
			{% if app.user %}
				<div class="me-2">
					<a href="{{ path('app.logout') }}" class="btn btn-danger">Déconnexion</a>
				</div>
			{% else %}
				<div class="me-2">
					<a href="{{ path('app.login') }}" class="btn btn-light">Connexion</a>
				</div>
			{% endif %}
		</div>
	</nav>
</header>
